<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Playground</title>
</head>
<body>
<h1>User Playground</h1>
<a th:href="@{/userPlayground/addUser}">Add New User</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Type</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.createdAt}"></td>
        <td th:text="${user.userType}"></td>
        <td>
            <a th:href="@{/userPlayground/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/userPlayground/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>