:root {
    --light-green: rgba(11, 191, 125, 1);
    --off-black: rgba(13, 13, 13, 1);
    --dark-green: rgba(20, 115, 80, 1);
    --gray: rgba(89, 89, 89, 1);
    --off-white: rgba(242, 242, 242, 1);
    --font-logo: 'Averia Sans Libre', sans-serif;
    --font-title: 'Afacad', sans-serif;
    --font-subtitle: 'Playfair Display', serif;
    --font-afacad-regular: 'Afacad', sans-serif;
    --font-afacad-bold: 'Afacad', sans-serif;
    --border-radius: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-subtitle);
    color: var(--off-black);
    background-color: var(--off-white);
}

.logo-svg {
    height: 40px;
    width: auto;
    fill: var(--light-green);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--off-black);
    color: var(--light-green);
    transition: padding 0.3s ease, background-color 0.3s ease;
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.header-shrink {
    padding: .5rem .7rem;
    background-color: rgba(13, 13, 13, 0.9);
}

.logo {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo-text {
    font-family: var(--font-logo);
    margin-left: 5px;
    font-size: 1.5rem;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.divider {
    position: absolute;
    top: 100%;
    width: 100%;
    border: none;
    border-top: 3px solid var(--gray);
    margin: 0;
    transition: border-top 0.3s ease;
}

.divider-shrink {
    border-top: 1px solid var(--gray);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30% 2rem 2rem 2rem;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero-title {
    font-family: var(--font-title);
    font-size: 3.5rem;
    color: var(--light-green);
}

.hero-subtitle {
    font-family: var(--font-subtitle);
    font-size: 1.5rem;
    color: var(--off-black);
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.hero-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--off-white) 0%, rgba(242, 242, 242, 0) 100%);
    z-index: 2; /* Ensure gradient is above the image */
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-btn {
    background-color: var(--light-green);
    color: var(--off-white);
    font-family: var(--font-title);
    font-size: 1.5rem;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.75rem 6rem;
    margin-top: 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: var(--dark-green);
}

.catchphrase {
    background-color: var(--light-green);
    color: var(--off-white);
    text-align: center;
    padding: 2rem;
    border-radius: var(--border-radius);
    margin: 2rem 0;
}

.catchphrase-title {
    font-family: var(--font-title);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.catchphrase-text {
    font-family: var(--font-subtitle);
    font-size: 1.25rem;
    margin: 0;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--off-white);
    margin: 2rem 0;
}

.feature h3 {
    font-family: var(--font-title);
}

.footer {
    background-color: var(--off-black);
    color: var(--off-white);
    padding: 2rem;
    font-family: var(--font-title);
}

.footer h3 {
    font-family: var(--font-afacad-bold);
    font-weight: bold;
    color: var(--off-white);
}

.footer a {
    font-family: var(--font-afacad-regular);
    font-weight: normal;
    color: var(--light-green);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--dark-green);
}